<html>
  <head>
    <title>Delete User</title>
  </head>
  <body>
    <h1>Delete User</h1>
    <form action="delete{{userId}}" method="POST">
      <input type="text" id="username" name="username" required />
      <input type="password" id="password" name="password" required />
      <button type="submit">Delete Account</button>
    </form>
  </body>
</html>